@use "../variables" as var;
@use "../mixins" as mixin;
@use "../functions" as *;

.cta {
  position: relative;
  padding: to-rem(116) 0 to-rem(120);
  color: var.$cl-light;
  text-align: center;
  background-image: linear-gradient(rgb(var.$cl-brand-2, 0.8) 0%, rgb(var.$cl-brand-2, 0.5) 100%), url('../images/Valldemossa.jpg?width=1280');
  background-position: center;
  background-size: cover;

  /* Elements */
  &__message {
    width: 100%;
    max-width: var.$container-xs-width;
    padding-inline: to-rem(20);
    margin-inline: auto;
    margin-top: to-rem(16);
    margin-bottom: to-rem(30);
    text-wrap: balance;
    
    @include mixin.font('text-md');

    @include mixin.breakpoint('lg') {
      max-width: var.$container-sm-width;
      padding-inline: 0;
    }
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    gap: to-rem(20);
    justify-content: center;
    padding-inline: to-rem(20);
  }

  &__btn {
    @include mixin.button(
      $color: var.$cl-light,
      $background-color: transparent,
      $border-color: var.$cl-light,
      $border-width: to-rem(2),
      $hover-color: var.$cl-brand-2
    );
  }
}