@use 'sass:color';
@use "../variables" as var;
@use "../mixins" as mixin;
@use "../functions" as *;

.hero {
  width: 100%;
  height: to-rem(1080);
  padding-block: to-rem(200);
  padding-top: to-rem(260);
  margin-bottom: to-rem(-125);
  color: var.$cl-light;
  text-align: center;
  background-image: linear-gradient(
      rgb(color.scale(var.$cl-brand-3, $lightness: -80%), 0.6) 0%,
      rgb(color.scale(var.$cl-brand-1, $lightness: -90%), 0.4) 100%
    ),
    url('../images/Serra_de_Tramuntana.jpg?height=1080');
  background-position: center;
  background-size: cover;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: to-rem(1082);
    pointer-events: none;
    content: "";
    background: linear-gradient(
      to top,
      var.$cl-light 0%,
      rgb(var.$cl-light, 0.8) 6%,
      rgb(var.$cl-light, 0.4) 15%,
      rgb(var.$cl-light, 0.1) 24%,
      transparent 30%,
      transparent 100%
    );
  }

  @include mixin.breakpoint('md') {
    padding-top: to-rem(200);
  }

  /* Elements */
  &__container {
    width: 100%;
    max-width: var.$container-xs-width;
    padding-inline: to-rem(20);
    margin-inline: auto;
    
    @include mixin.breakpoint('lg') {
      max-width: var.$container-sm-width;
      padding-inline: 0;
    }
  }

  &__location {
    display: inline-flex;
    gap: to-rem(8);
    align-items: center;
    justify-content: center;
    height: to-rem(40);
    padding: 0 to-rem(16);
    margin-bottom: to-rem(26);
    background-color: rgb(var.$cl-light, 0.2);
    border: to-rem(1) solid rgb(var.$cl-light, 0.3);
    border-radius: var.$border-radius-base;
    backdrop-filter: blur(to-rem(4));
    transition: all 0.3s;

    &:hover {
      color: var.$cl-light;
      background-color: rgb(var.$cl-light, 0.3);
      border-color: rgb(var.$cl-light, 0.5);
      backdrop-filter: blur(to-rem(6));
    }
  }

  &__highlight {
    color: var.$cl-brand-1;
  }

  &__description {
    margin-bottom: to-rem(48);
    text-wrap: balance;

    @include mixin.font('text-md')
  }

  &__btn {
    @include mixin.button(
      $color: var.$cl-dark,
      $background-color: var.$cl-brand-1
    );
  }
}