<section class="activitats">
  <div class="activitats__container">
    <picture class="activitats__visual">
      <source
        srcset="./assets/images/Fonts_Ufanes.jpg?as=webp&width=790"
        type="image/webp"
      />
      <img
        class="activitats__image"
        src="./assets/images/Fonts_Ufanes.jpg?width=790"
        alt="Fotografia de les fonts ufanes"
      />
    </picture>

    <div class="activitats__text">
      <p class="activitats__label">Aventura i naturalesa</p>
      <h2>El teu paradís a l'aire lliure</h2>
      <p>
        Per als amants de l'aventura o per als qui cerquen desconnectar i gaudir de la calma, la Tramuntana és l'indret
        perfecte per endinsar-se i connectar amb la natura al teu ritme.
      </p>
      <ul class="feature-list feature-list--activitats">
        <li class="feature-list__item">
          <i class="fa-solid fa-solid fa-shoe-prints feature-list__icon"></i>
          <p>
            <b>Rutes de pedra en sec</b><br>
            Travessa tota la serra caminant per antics camins empedrats. Una experiència transformadora de refugi a refugi.
          </p>
        </li>
        <li class="feature-list__item">
          <i class="fa-solid fa-bicycle feature-list__icon"></i>
          <p>
            <b>Ciclisme de ruta</b><br>
            Considerada la meca del ciclisme a Europa, els ports de muntanya ofereixen reptes èpics i vistes inigualables.
          </p>
        </li>
        <li class="feature-list__item">
          <i class="fa-solid fa-camera feature-list__icon"></i>
          <p>
            <b>Miradors i fotografia</b><br>
            Des del Mirador de Sa Foradada fins al Far de Formentor, captura capvespres que quedaran gravats a la memòria.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>