<section class="cta">
  <h2>Vols saber-ne més?</h2>
  <p class="cta__message">Als següents portals oficials podràs trobar més informació per planificar la teva visita.</p>

  <nav aria-label="Webs oficials" class="cta__links">
    <a href="https://serradetramuntana.net/" target="_blank" class="cta__btn" data-preview-key="serra-de-tramuntana">Serra de Tramuntana</a>
    <a href="https://www.mallorca.es/ca/inici" target="_blank" class="cta__btn" data-preview-key="mallorca-turistica">Turisme Mallorca</a>
    <a href="https://www.illesbalears.travel/ca/mallorca/descobreix-la-serra-de-tramuntana-patrimoni-de-la-humanitat" target="_blank" class="cta__btn" data-preview-key="turisme-illes-balears">Turisme Illes Balears</a>
  </nav>
</section>