<section>
  <div>
    <p>El patrimoni de Mallorca</p>
    <h2>Un paisatge cultural sense igual</h2>
    <p>
      La Serra de Tramuntana no és només una cadena muntanyosa; és el testimoni de segles d'interacció harmoniosa entre
      els habitants de Mallorca i la natura. Els seus vessants escalonats amb marges de pedra en sec i els intricats
      sistemes d'irrigació d'origen àrab la converteixen en un monument viu.
    </p>
    <ul>
      <li>
        <i class="fa-solid fa-landmark"></i>
        <p>
          <b>Patrimoni de la Humanitat</b><br>
          Reconeguda per la UNESCO a la categoria de Paisatge Cultural per la seva perfecta integració amb la natura.
        </p>
      </li>
      <li>
        <i class="fa-solid fa-route"></i>
        <p>
          <b>90 km de serralada</b><br>
          Recorre l'espina dorsal de l'illa partint d'Andratx al sud-oest fins a arribar al Cap de Formentor al nord.
        </p>
      </li>
      <li>
        <i class="fa-solid fa-leaf"></i>
        <p>
          <b>Biodiversitat única</b><br>
          Llar de fauna i flora endèmica, exuberants boscos d'alzines, pins i antics oliverars mil·lenaris.
        </p>
      </li>
    </ul>
  </div>

  <figure>
    <picture>
      <source srcset="./assets/images/Mallorca_Puig_Major.jpg?as=webp&width=622" type="image/webp" />
      <img
        src="./assets/images/Mallorca_Puig_Major.jpg?width=622"
        alt="Vista del Puig Major a la Serra de Tramuntana"
      />
    </picture>

    <figcaption>
      <p>1,445m</p>
      <p><b>Puig Major</b></p>
      <p>El pic més alt de les Illes Balears</p>
    </figcaption>
  </figure>
</section>