<footer>
  <a href="#" class="footer__link-logo">
    <img src="./assets/images/logo-complet.svg" alt="Logotip de la Serra de Tramuntana" width="300"/>
  </a>
  <p>Un lloc web dedicat a la preservació i promoció responsable de la Serra de Tramuntana, Patrimoni de la Humanitat.</p>
  <nav aria-label="Xarxes socials">
    <a href="#" aria-label="Youtube"><i class="fa-brands fa-youtube"></i></a>
    <a href="#" aria-label="X"><i class="fa-brands fa-x-twitter"></i></a>
    <a href="#" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>
  </nav>

  <nav aria-label="Enllaços ràpids">
    <h3>Enllaços Ràpids</h3>
    <ul>
      <li><a href="#">Inici</a></li>
      <li><a href="#">Descobreix</a></li>
      <li><a href="#">Destinacions</a></li>
      <li><a href="#">Activitats</a></li>
    </ul>
  </nav>

  <nav aria-label="Informació">
    <h3>Et pot interessar</h3>
    <ul>
      <li><a href="#">Consell de Mallorca</a></li>
      <li><a href="#">Serra de Tramuntana</a></li>
      <li><a href="#">Turisme Mallorca</a></li>
      <li><a href="#">Turisme Illes Balears</a></li>
    </ul>
  </nav>

  <p>© 2026 Serra de Tramuntana. Tots els drets reservats.</p>
  <nav aria-label="Legal">
    <a href="#">Política de Privacitat</a>
    <a href="#">Condicions d'Ús</a>
  </nav>
</footer>