<footer class="footer">
  <div class="footer__container">
    <div class="footer__desc">
      <a href="#" class="footer__link-logo">
        <img src="./assets/images/logo-complet.svg" alt="Logotip de la Serra de Tramuntana" width="170" class="footer__logo"/>
      </a>
      <p>Un web dedicat a la preservació i promoció responsable de la Serra de Tramuntana, Patrimoni de la Humanitat.</p>
      <nav aria-label="Xarxes socials" class="footer__social">
        <a href="https://www.youtube.com/@serratramuntanaunesco" target="_blank" class="footer__social-link" aria-label="Youtube"><i class="fa-brands fa-youtube"></i></a>
        <a href="https://x.com/SdeTramuntana" target="_blank" class="footer__social-link" aria-label="X"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="https://www.instagram.com/serratramuntanaunesco/" target="_blank" class="footer__social-link" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.facebook.com/serratramuntanaunesco" target="_blank" class="footer__social-link" aria-label="Facebook"><i class="fa-brands fa-facebook-f"></i></a>
      </nav>
    </div>

    <nav aria-label="Enllaços ràpids" class="footer__links-col footer__links-col--1">
      <h3 class="footer__col-title">Enllaços ràpids</h3>
      <ul>
        <li><a href="#inici">Inici</a></li>
        <li><a href="#descobreix">Descobreix</a></li>
        <li><a href="#racons">Destinacions</a></li>
        <li><a href="#activitats">Activitats</a></li>
      </ul>
    </nav>

    <nav aria-label="Informació" class="footer__links-col footer__links-col--2">
      <h3 class="footer__col-title">Et pot interessar</h3>
      <ul>
        <li><a href="https://www.conselldemallorca.es/" target="_blank">Consell de Mallorca</a></li>
        <li><a href="https://serradetramuntana.net/" target="_blank">Serra de Tramuntana</a></li>
        <li><a href="https://www.mallorca.es/ca/inici" target="_blank">Turisme Mallorca</a></li>
        <li><a href="https://www.illesbalears.travel/ca" target="_blank">Turisme Illes Balears</a></li>
      </ul>
    </nav>

    <div class="footer__bottom">
      <p>© 2026 Serra de Tramuntana. Tots els drets reservats.</p>
      <nav aria-label="Legal" class="footer__legal">
        <a href="#">Política de Privacitat</a>
        <a href="#">Condicions d'Ús</a>
      </nav>
    </div>
  </div>
</footer>