<footer class="footer">
  <div class="footer__container">
    <div class="footer__desc">
      <a href="#" class="footer__link-logo">
        <img src="./assets/images/logo-complet.svg" alt="Logotip de la Serra de Tramuntana" width="300" class="footer__logo"/>
      </a>
      <p>Un web dedicat a la preservació i promoció responsable de la Serra de Tramuntana, Patrimoni de la Humanitat.</p>
      <nav aria-label="Xarxes socials" class="footer__social">
        <a href="#" target="_blank" class="footer__social-link" aria-label="Youtube"><i class="fa-brands fa-youtube"></i></a>
        <a href="#" class="footer__social-link" aria-label="X"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="#" class="footer__social-link" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>
        <a href="#" class="footer__social-link" aria-label="Facebook"><i class="fa-brands fa-facebook-f"></i></a>
      </nav>
    </div>

    <nav aria-label="Enllaços ràpids" class="footer__links-col footer__links-col--1">
      <h3 class="footer__col-title">Enllaços ràpids</h3>
      <ul>
        <li><a href="#">Inici</a></li>
        <li><a href="#">Descobreix</a></li>
        <li><a href="#">Destinacions</a></li>
        <li><a href="#">Activitats</a></li>
      </ul>
    </nav>

    <nav aria-label="Informació" class="footer__links-col footer__links-col--2">
      <h3 class="footer__col-title">Et pot interessar</h3>
      <ul>
        <li><a href="#">Consell de Mallorca</a></li>
        <li><a href="#">Serra de Tramuntana</a></li>
        <li><a href="#">Turisme Mallorca</a></li>
        <li><a href="#">Turisme Illes Balears</a></li>
      </ul>
    </nav>

    <div class="footer__bottom">
      <p>© 2026 Serra de Tramuntana. Tots els drets reservats.</p>
      <nav aria-label="Legal" class="footer__legal">
        <a href="#">Política de Privacitat</a>
        <a href="#">Condicions d'Ús</a>
      </nav>
    </div>
  </div>
</footer>
