<header class="menu">
  <a href="#" class="menu__logo">
    <img src="./assets/images/logo.svg" alt="Logotip de la Serra de Tramuntana" width="300" />
  </a>
  <nav aria-label="Navegació principal" class="menu__nav">
    <ul class="menu__list">
      <li><a href="#inici" class="menu__link menu__link--active">Inici</a></li>
      <li><a href="#descobreix" class="menu__link">Descobreix</a></li>
      <li><a href="#racons" class="menu__link">Destins</a></li>
      <li><a href="#activitats" class="menu__link">Activitats</a></li>
    </ul>
  </nav>
</header>