<section class="hero" id="inici">
  <div class="hero__container">
    <a href="https://maps.app.goo.gl/F2FmCu3Jf16ptPaBA" target="_blank" class="hero__location" data-preview-key="maps"><i class="fa-solid fa-location-dot"></i> Mallorca, Illes Baleares</a>
    <h1>La màgia de la <span class="hero__highlight">Tramuntana</span></h1>
    <p class="hero__description">Descobreix l'ànima muntanyosa de Mallorca, on el cel es troba amb el mar Mediterrani.</p>
    <a href="#descobreix" class="hero__btn">Explora la serra</a>
  </div>
</section>