<section>
  <p>Pobles i racons</p>
  <h2>Joies amagades entre les muntanyes</h2>

  <ul>
    <li>
      <article> <!-- Card -->
        <picture>
          <source
            srcset="./assets/images/Valldemossa_Carrer.jpg?as=webp&width=375"
            type="image/webp"
          />
          <img
            src="./assets/images/Valldemossa_Carrer.jpg?width=375"
            alt="Fotografia d'un carrer de Valldemossa"
          />
        </picture>
        <h3>Valldemossa</h3>
        <p>Un poble de carrers empedrats i encant atemporal, famós per la Cartoixa i l'estada de Chopin i George Sand.</p>
        <a href="#">Conèixer més →</a>
      </article>
    </li>

    <li>
      <article> <!-- Card -->
        <picture>
          <source
            srcset="./assets/images/Tranvia_de_Soller.jpg?as=webp&width=375"
            type="image/webp"
          />
          <img
            src="./assets/images/Tranvia_de_Soller.jpg?width=375"
            alt="Fotografia d'un carrer de Valldemossa"
          />
        </picture>
        <h3>Sóller</h3>
        <p>Envoltat de muntanyes i tarongers, amb un encant modernista i un tramvia històric que connecta amb el port.</p>
        <a href="#">Conèixer més →</a>
      </article>
    </li>

    <li>
      <article> <!-- Card -->
        <picture>
          <source
            srcset="./assets/images/Banyalbufar.jpg?as=webp&width=375"
            type="image/webp"
          />
          <img
            src="./assets/images/Banyalbufar.jpg?width=375"
            alt="Fotografia d'un carrer de Valldemossa"
          />
        </picture>
        <h3>Banyalbufar</h3>
        <p>Un indret espectacular entre penya-segats, famós per la seva carretera sinuosa i la desembocadura del Torrent de Pareis.</p>
        <a href="#">Conèixer més →</a>
      </article>
    </li>

    <li>
      <article> <!-- Card -->
        <picture>
          <source
            srcset="./assets/images/Fornalutx.jpg?as=webp&width=375"
            type="image/webp"
          />
          <img
            src="./assets/images/Fornalutx.jpg?width=375"
            alt="Fotografia d'un carrer de Valldemossa"
          />
        </picture>
        <h3>Fornalutx</h3>
        <p>Considerat un dels pobles més bonics, amb cases de pedra i carrerons que reflecteixen l'autenticitat mallorquina.</p>
        <a href="#">Conèixer més →</a>
      </article>
    </li>
  </ul>
</section>