<section class="racons">
  <div class="racons__text">
    <p class="racons__label">Pobles i racons</p>
    <h2>Joies amagades entre les muntanyes</h2>
  </div>

  <div class="racons__tabs">
    <div class="racons__tabpanel">
      <button class="racons__tab-btn racons__tab-btn--active">Pobles</button>
      <button class="racons__tab-btn">Patrimoni Humà</button>
      <button class="racons__tab-btn">Natura</button>
    </div>
  </div>

  <ul class="racons__cards">
    <li>
      <include src="./views/components/card.html">
        {
          "image": "./assets/images/Valldemossa_Carrer.jpg",
          "alt": "Fotografia d'un carrer de Valldemossa",
          "title": "Valldemossa",
          "text": "Un poble de carrers empedrats i encant atemporal, famós per la Cartoixa i l'estada de Chopin i George Sand.",
          "href": "#"
        }
      </include>
    </li>

    <li>
      <include src="./views/components/card.html">
        {
          "image": "./assets/images/Tranvia_de_Soller.jpg",
          "alt": "Fotografia del tranvia de Soller",
          "title": "Sóller",
          "text": "Envoltat de muntanyes i tarongers, amb un encant modernista i un tramvia històric que connecta amb el port.",
          "href": "#"
        }
      </include>
    </li>

    <li>
      <include src="./views/components/card.html">
        {
          "image": "./assets/images/Banyalbufar.jpg",
          "alt": "Fotografia de Banyalbufar",
          "title": "Banyalbufar",
          "text": "Un indret espectacular entre penya-segats, famós per la seva carretera sinuosa i la desembocadura del Torrent de Pareis.",
          "href": "#"
        }
      </include>
    </li>

    <li>
      <include src="./views/components/card.html">
        {
          "image": "./assets/images/Fornalutx.jpg",
          "alt": "Fotografia d'un carrer de Fornalutx",
          "title": "Fornalutx",
          "text": "Considerat un dels pobles més bonics, amb cases de pedra i carrerons que reflecteixen l'autenticitat mallorquina.",
          "href": "#"
        }
      </include>
    </li>
  </ul>
</section>