@use 'sass:map';
@use 'sass:color';
@use "variables" as var;
@use "functions" as *;

/* ══════════════════════════════════════
    Breakpoints
   ══════════════════════════════════════ */
@mixin breakpoint($breakpoint) {
  @if map.has-key(var.$breakpoints, $breakpoint) {
    @media (width >= #{map.get(var.$breakpoints, $breakpoint)}) {
      @content;
    }
  } @else {
    @error "El breakpoint '#{$breakpoint}' no existeix";
  }
}

/* ══════════════════════════════════════
    Grid
   ══════════════════════════════════════ */
@mixin container {
  width: 100%;
  max-width: to-rem(1920);
  padding-inline: to-rem(20);
  margin-inline: auto;

  @include breakpoint('lg') {
    padding-inline: to-rem(60);
  }

  @include breakpoint('xxl') {
    padding-inline: to-rem(150);
  }
}

@mixin grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: to-rem(40);

  @include breakpoint('md') {
    grid-template-columns: repeat(4, 1fr);
  }

  @include breakpoint('xl') {
    grid-template-columns: repeat(8, 1fr);
  }
}

/* ══════════════════════════════════════
    Buttons
   ══════════════════════════════════════ */
@mixin button($color, $background-color, $border-color: transparent, $border-width: 0, $hover-color: var.$cl-dark) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: to-rem(60);
  padding: 0 to-rem(40);
  font-size: to-rem(20);
  font-weight: var.$fw-bold;
  color: $color;
  cursor: pointer;
  background-color: $background-color;
  border: $border-width solid $border-color;
  border-radius: var.$border-radius-base;
  transition: background-color 0.3s;
  
  &:hover {
    @if $border-color != transparent and $border-width != 0 {
      color: $hover-color;
      background-color: $color;
    } @else {
      color: $color;
      background-color: color.adjust($background-color, $lightness: -10%);
    }
  }
}

@mixin icon-button($color, $background-color) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: to-rem(60);
  height: to-rem(60);
  font-size: to-rem(33);
  color: $color;
  background-color: $background-color;
  border-radius: var.$border-radius-sm;
  transition: all 0.3s;
  
  &:hover {
    color: $background-color;
    background-color: $color;
  }
}